<h2>Dein Schiedsrichteraccount im Saisonmanager</h2>

<p>Hallo,</p>

<p>für dich wurde ein Schiedsrichteraccount im Saisonmanager angelegt.</p>

<p>Dein Benutzername: <strong><%= @username %></strong></p>

<p>Hier kannst du dein Passwort (zurück)setzen:</p>

<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>

<p>Bei Fragen wende dich an die zuständige RSK FD (<a href="mailto:rsk@floorball.de">rsk@floorball.de</a>).</p>
