<h2>Passwort vergessen?</h2>
<p>
  Hey, das Passwort vergessen ist nicht schlimm, hier hast du die Möglichkeit dir ein neues Saisonmanager-Passwort zu setzen.
</p>

<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>

<p>
  Solltest du diese E-Mail nicht im Saisonmanager angefordert haben, lösche sich einfach.
</p>
