<h2>Passwort vergessen?</h2>
<p>
  Hey, das Passwort vergessen ist nicht schlimm, hier hast du die Möglichkeit dir ein neues Saisonmanager-Passwort zu setzen.
</p>

<p>
  <a href="<%= @link %>"><%= @link %></a>
</p>

<p>Dein Benutzername: <strong><%= @username %></strong></p>

<p>
  Für den Login kannst du entweder deinen Benutzernamen (<strong><%= @username %></strong>) oder deine E-Mail-Adresse verwenden.
</p>

<p>
  Solltest du diese E-Mail nicht im Saisonmanager angefordert haben, lösche sich einfach.
</p>
