<h2>Lizenz erteilt</h2>

<p>Hallo <%= @player.first_name %> <%= @player.last_name %>,</p>

<p>
  deine Lizenz für das Team <strong><%= @team.name %><%= " (#{@league.name})" if @league %></strong> wurde erteilt.
  Du kannst jetzt in Spielen dieses Teams eingesetzt werden.
</p>

<p>
  Bei Fragen wende dich an die zuständige Spielbetriebskommission.
</p>

<p>
  Das Saisonmanager-Team<br>
  <a href="https://saisonmanager.org">saisonmanager.org</a>
</p>
