<h2>Zweitlizenz/Freigabe entzogen durch Transfer</h2>

<p>Hallo,</p>

<p>
  der folgende Spieler, der bei Ihrem Verein eine Zweitlizenz oder Spielerfreigabe hatte,
  hat zu einem anderen Verein gewechselt:
</p>

<p>
  <strong>Spieler:</strong> <%= @transfer_request.player.first_name %> <%= @transfer_request.player.last_name %><br>
  <strong>Neuer Verein:</strong> <%= @transfer_request.requesting_club.name %>
</p>

<p>
  Alle Lizenzen des Spielers wurden mit dem Transfer auf „ungültig wg. Transfer" gesetzt.
  Falls Sie weiterhin eine Zweitlizenz oder Spielerfreigabe benötigen, müsste diese beim
  neuen Heimverein des Spielers neu beantragt werden.
</p>

<p>
  Das Saisonmanager-Team<br>
  <a href="https://saisonmanager.org">saisonmanager.org</a>
</p>
